{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block javascript %}
<script>
function deleteGroup(url){
 if (confirm("Do you really want to delete this Group ??")) {
   window.location=url;
 }
}
</script>
{% endblock %}
{% block content %}
<br>
<h2>Groups List</h2>
<br>
<table class='list'>
    <colgroup>
        <col class='name' />
        <col class='name' />
        <col class='name' />
        <col class='number' />
        <col class='name' />
        <col class='name' />
    </colgroup>
    <thead>
        <tr class='secondRow doNotFilter'>
            <th>Group Code</th>
            <th>Group Name</th>
            <th>Group Manager</th>
            <th># Recipients</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
       {% for group in Glist %}
        <tr>
            <td class='name'> {{ group.code }}</td>
            <td class='name'> {{ group.name }}</td>
            <td class='name'> {% for manager in group.managers.select_related %}{{ manager.get_full_name }}, {% endfor %}</td>
            <td class='name'> {{ group.recipients.select_related|length }}</td>
            <td align="center"> <a href="{% url update_group group.id %}"><img style="border:0px" src="/static/groupmessaging/edit-icon.jpeg" width="20" height="20" /> </a></td>
            <td align="center"> <a href= "javascript:deleteRecipient('{% url delete_group group.id %}')"><img style="border:0px" src="/static/groupmessaging/delete-icon.png" width="20" height="20" /></a> </td>
        </tr>
        {% empty %}
        <tr>
            <td >No group</td>
        </tr>
        {% endfor %}

    </tbody>
</table>


{% endblock %}

{% block submenu %}
<ul><li><a href="{% url new_group %}">Add New Group</a></li></ul>
{% endblock %}