{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<table border="1" align="center" width="80%">
    
    <thead>
        <tr>
            <th>Group Code</th>
            <th>Group Name</th>
            <th>Group Manager</th>
            <th># Recipients</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
       {% for group in Glist %}
        <tr>
            <td> {{ group.code }}</td>
            <td> {{ group.name }}</td>
            <td> {% for manager in group.managers.select_related %}{{ manager.get_full_name }}, {% endfor %}</td>
            <td> {{ group.code }} </td>
            <td align="center"> <a href="#">Update</a> | <a href="{% url delete_group group.id %}">Delete</a> </td>
        </tr>
        {% empty %}
        <tr>
            <td >No group</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5"><br><a href="{% url new_group %}">Add New Group >></a></td>
        </tr>
    </tbody>
</table>


{% endblock %}
